$color-white: #FFF;
$color-black: #000;
$color-page-bg: #0B0214;
$color-button-border: #6502B4;
$color-grey: #A9A9A9;
$color-nav-border: #F3F3F3;
$color-purple: #6502B4;

$font-pp: "PP Telegraf";
$font-satoshi: "Satoshi";
$font-zenith: "205TF";
$font-spectral: "Spectral Bridge";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('nav', 'logo', 'magnet', 'content', 'bg');