$color-white: #fff;
$color-black: #000;
$color-page-bg: #0b0214;
$color-button-border: #6502b4;
$color-grey: #a9a9a9;
$color-nav-border: #f3f3f3;
$color-purple: #6502b4;

$font-dosis: "Dosis";
$font-satoshi: "Satoshi";
$font-zenith: "205TF";
$font-spectral: "Spectral Bridge";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("nav", "logo", "magnet", "content", "bg");
