
@font-face {
  font-family: "Satoshi";
  src: url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.eot");
  src: url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.svg#Satoshi")format("svg");
}

@font-face {
  font-family: "Zenith";
  src: url('/fonts/205TF/ZenithTrial-DisplayBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Zenith";
  src: url('/fonts/205TF/ZenithTrial-DisplayBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Zenith";
  src: url('/fonts/205TF/ZenithTrial-DisplayBook.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Zenith";
  src: url('/fonts/205TF/ZenithTrial-DisplayBookItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Zenith";
  src: url('/fonts/205TF/ZenithTrial-DisplayRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
